* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: red;
  margin: 20px 10px;
  border: 2px solid black;
  padding: 20px;
}

/* body */

.container {
  width: 900px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

body {
  /* width: 100%; */
  border: 2px solid black;
  margin: 0 auto;
  padding: 20px;
  /* see where to set it */
  /* text-align: center; */
}

.header-description {
  border: 2px solid black;
  margin: 20px auto;
  padding: 20px;
}

/* main */

.clearfix::after {
  width: calc(100% / 3);
  content: "";
  display: table;
  clear: both;
}

.card1,
.card2,
.card3 {
  float: left;
}

.image {
  width: 100px;
}

.text-box {
  background-color: black;
  color: white;
  float: right;
  width: 20px 20px;
  line-height: 2;
  border: 2px solid black;
}
